<!--div style="display: block;">
  <canvas #myCanvas id="canvas" baseChart width="250" height="80"
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [colors]="chartColors"
    [chartType]="chartType"
    >
  </canvas>
</div-->
<div style="display: block;">
  <canvas baseChart width="250" height="70"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>
