<mat-card class="contact-card">
    <mat-card-header>
      <mat-card-title>Llenando el CUR</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form  [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="# de CUR" [ngClass]="{'is-invalid': !formGroup.get('txt_comprobantePago').valid}" formControlName="txt_comprobantePago">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput [matDatepicker]="fechaSubs1" placeholder="Fecha de Pago" readonly formControlName="dt_realPago">
          <mat-datepicker-toggle matSuffix [for]="fechaSubs1"></mat-datepicker-toggle>
          <mat-datepicker #fechaSubs1 disabled="false"></mat-datepicker>
        </mat-form-field>

        <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
        
        <button id="submit" mat-raised-button type="submit" [disabled]="formGroup.invalid" color="primary">Guardar</button>
      </form>
    </mat-card-content>
</mat-card>

