  <div class="row">
    <div class="col-lg-1">
      <mat-form-field>
        <mat-select placeholder="Por Año">
          <mat-option *ngFor="let year of years" value="{{year}}" (click)="selectYear(year)">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-6">
      <canvas baseChart width="200" height="80"
              [datasets]="barChartData"
              [labels]="mbarChartLabels"
              [options]="barChartOptions"
              [colors]="barChartColors"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    <div class="col-lg-5">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
              
          <!-- Columna Codigo -->
          <ng-container matColumnDef="administrador">
            <th mat-header-cell *matHeaderCellDef> Administrador </th>
            <td mat-cell *matCellDef="let row"> {{ row.administrador }} </td>
          </ng-container>
    
          <!-- Columna Objeto Contratacion -->
          <ng-container matColumnDef="totalContratos">
            <th mat-header-cell *matHeaderCellDef> # Contratos </th>
            <td mat-cell *matCellDef="let row"> {{row.totalContratos}} </td>
          </ng-container>
    
          <!-- Columna Proveedor -->
          <ng-container matColumnDef="complementarios">
            <th mat-header-cell *matHeaderCellDef> # Complementarios </th>
            <td mat-cell *matCellDef="let row"> {{row.complementarios}} </td>
          </ng-container>
    
          <!-- Columna Monto Contrato -->
          <ng-container matColumnDef="montoTotal">
            <th mat-header-cell *matHeaderCellDef> Monto Total </th>
            <td mat-cell *matCellDef="let row"> {{row.montoTotal | currency}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></tr>
          <tr mat-row (click)="viewDetail(row)" *matRowDef="let row; columns: displayedColumns;"></tr> <!-- (click)="selection.toggle(row)"> -->
    
        </table>          
    </div>
  </div>